.about_wapper
{
    height: 80vh;
}

.about_title
{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    color: #0984e3;
    text-shadow: 2px 2px 6px #1b62fc71;
}

.about_passage
{
    font-size: 15px;
    margin-left: 10px;
    font-size: 16px;
}

.about_link
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.about_author
{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.author
{
    margin: 15px;
    line-height: 30px;
}