.controller_wraper
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button_class
{
    width: 75%;
}

.circle
{
    padding: 10px;
}

.controller_circle
{
    display: flex;
    justify-content: right;
}

.fb_button
{
    padding: 10px;
}

.controller_btn
{
    display: flex;
    justify-content: start;
}