# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOSX
.DS_Store

# PyCharm & Clion
.idea

# VScode
.vscode

# TestCode
y86-code

# Python
__pycache__/
*.py[cod]
*$py.class

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Gtest
test/lib
lib/

#
test/build/CMakeFiles/cmake.check_cache
test/build/CMakeFiles/CMakeOutput.log
test/build/CMakeFiles/feature_tests.bin
test/build/CMakeFiles/feature_tests.c
test/build/CMakeFiles/feature_tests.cxx
test/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
test/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
test/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
test/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
test/build/CMakeFiles/3.10.2/CMakeSystem.cmake
test/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
test/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/ICS_Y86
build/build/ICS_Y86
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ICS_Y86.dir/build.make
build/CMakeFiles/ICS_Y86.dir/cmake_clean.cmake
build/CMakeFiles/ICS_Y86.dir/CXX.includecache
build/CMakeFiles/ICS_Y86.dir/depend.internal
build/CMakeFiles/ICS_Y86.dir/depend.make
build/CMakeFiles/ICS_Y86.dir/DependInfo.cmake
build/CMakeFiles/ICS_Y86.dir/flags.make
build/CMakeFiles/ICS_Y86.dir/link.txt
build/CMakeFiles/ICS_Y86.dir/progress.make
build/test/build/Google_Tests_run
build/test/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/CMakeFiles/progress.marks
build/test/CMakeFiles/Google_Tests_run.dir/build.make
build/test/CMakeFiles/Google_Tests_run.dir/cmake_clean.cmake
build/test/CMakeFiles/Google_Tests_run.dir/CXX.includecache
build/test/CMakeFiles/Google_Tests_run.dir/depend.internal
build/test/CMakeFiles/Google_Tests_run.dir/depend.make
build/test/CMakeFiles/Google_Tests_run.dir/DependInfo.cmake
build/test/CMakeFiles/Google_Tests_run.dir/flags.make
build/test/CMakeFiles/Google_Tests_run.dir/link.txt
build/test/CMakeFiles/Google_Tests_run.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.10.2/CMakeCCompiler.cmake
CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.10.2/CMakeSystem.cmake
CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/ICS_Y86.dir/build.make
CMakeFiles/ICS_Y86.dir/cmake_clean.cmake
CMakeFiles/ICS_Y86.dir/CXX.includecache
CMakeFiles/ICS_Y86.dir/depend.internal
CMakeFiles/ICS_Y86.dir/depend.make
CMakeFiles/ICS_Y86.dir/DependInfo.cmake
CMakeFiles/ICS_Y86.dir/flags.make
CMakeFiles/ICS_Y86.dir/link.txt
CMakeFiles/ICS_Y86.dir/progress.make
test/build/Google_Tests_run
test/CMakeFiles/CMakeDirectoryInformation.cmake
test/CMakeFiles/progress.marks
test/CMakeFiles/Google_Tests_run.dir/build.make
test/CMakeFiles/Google_Tests_run.dir/cmake_clean.cmake
test/CMakeFiles/Google_Tests_run.dir/CXX.includecache
test/CMakeFiles/Google_Tests_run.dir/depend.internal
test/CMakeFiles/Google_Tests_run.dir/depend.make
test/CMakeFiles/Google_Tests_run.dir/DependInfo.cmake
test/CMakeFiles/Google_Tests_run.dir/flags.make
test/CMakeFiles/Google_Tests_run.dir/link.txt
test/CMakeFiles/Google_Tests_run.dir/progress.make
ICS_Y86.cbp
Example_ys/helloworld.ys
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-c3509c7104b1f2d05056.json
build/.cmake/api/v1/reply/codemodel-v2-2557b2555874767e0d00.json
build/.cmake/api/v1/reply/index-2020-12-10T13-23-05-0822.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-9f1a2ae2bda007b10be6.json
build/.cmake/api/v1/reply/target-gmock-Debug-ef4f50e0e88d61006f3c.json
build/.cmake/api/v1/reply/target-Google_Tests_run-Debug-0c3df353f8953ffc3e21.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-cae356afb52644646bf7.json
build/.cmake/api/v1/reply/target-gtest-Debug-350eb8f96b92bea0b994.json
build/.cmake/api/v1/reply/target-ICS_Y86-Debug-a85df4f97c0b624d4b4d.json
build/CMakeFiles/3.16.5/CMakeCCompiler.cmake
build/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.5/CMakeSystem.cmake
build/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.1/CMakeCCompiler.cmake
build/CMakeFiles/3.19.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.1/CMakeSystem.cmake
build/CMakeFiles/3.19.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/clion-environment.txt
CMakeFiles/clion-log.txt
CMakeFiles/3.17.3/CMakeCCompiler.cmake
CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.17.3/CMakeSystem.cmake
CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.19.1/CMakeCCompiler.cmake
CMakeFiles/3.19.1/CMakeCXXCompiler.cmake
CMakeFiles/3.19.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.19.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.19.1/CMakeSystem.cmake
CMakeFiles/3.19.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.19.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/.gitignore
test/test.cbp
test/build/CMakeFiles/CMakeDirectoryInformation.cmake
test/build/CMakeFiles/Makefile.cmake
test/build/CMakeFiles/Makefile2
test/build/CMakeFiles/progress.marks
test/build/CMakeFiles/TargetDirectories.txt
test/build/CMakeFiles/3.19.1/CMakeCCompiler.cmake
test/build/CMakeFiles/3.19.1/CMakeCXXCompiler.cmake
test/build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_C.bin
test/build/CMakeFiles/3.19.1/CMakeDetermineCompilerABI_CXX.bin
test/build/CMakeFiles/3.19.1/CMakeSystem.cmake
test/build/CMakeFiles/3.19.1/CompilerIdC/CMakeCCompilerId.c
test/build/CMakeFiles/3.19.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
test/build/CMakeFiles/Google_Tests_run.dir/build.make
test/build/CMakeFiles/Google_Tests_run.dir/cmake_clean.cmake
test/build/CMakeFiles/Google_Tests_run.dir/CXX.includecache
test/build/CMakeFiles/Google_Tests_run.dir/depend.internal
test/build/CMakeFiles/Google_Tests_run.dir/depend.make
test/build/CMakeFiles/Google_Tests_run.dir/DependInfo.cmake
test/build/CMakeFiles/Google_Tests_run.dir/flags.make
test/build/CMakeFiles/Google_Tests_run.dir/link.txt
test/build/CMakeFiles/Google_Tests_run.dir/progress.make
